<div ng-include src="'/components/header.html'"></div>
<main class="pt-20 bg-white dark:bg-gray-900">

    <!--  Slide Section  -->
    <div ng-include src="'/components/homePage/carousel.html'"></div>

    <!--  Featured Product section  -->
    <div ng-include src="'/components/homePage/featuredProduct(1).html'"></div>

    <!--  Featured Product section  -->
    <div ng-include src="'/components/homePage/featuredProduct(2).html'"></div>

    <!--  Featured Product section  -->
    <div ng-include src="'/components/homePage/featuredProduct(3).html'"></div>

</main>