<div class="pb-10 pt-6 mx-auto max-w-screen-xl">
    <h1 class=" lg:text-4xl underline text-2xl mb-16 font-bold text-sky-900 dark:text-gray-300  text-center">
        Our Blog
    </h1>

    <section class="splide" id="blog" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide" data-splide-interval="1000">
                    <div class="w-full group  rounded-lg  ">
                        <a href="#">
                            <img class="rounded-lg   duration-300 shadow-sm w-full" src="https://helendo.jamstacktemplates.dev/images/blogs/unique-products/374x243.jpg" alt="" />
                        </a>
                        <div class="py-8 px-2">
                            <a href="#">
                                <h5 class="mb-2 group-hover:underline duration-300 line-clamp-1 text-xl text-center font-medium tracking-tight text-gray-900 dark:text-white">
                                    Unique products that will impress your home in 2023.</h5>
                            </a>
                            <p class="mb-3 font-normal text-center line-clamp-2 text-gray-700 dark:text-gray-400">
                                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
                                chronological order.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide" data-splide-interval="1000">
                    <div class="w-full group  rounded-lg  ">
                        <a href="#">
                            <img class="rounded-lg   duration-300 shadow-sm border w-full" src="https://helendo.jamstacktemplates.dev/images/blogs/staircase/374x243.jpg" alt="" />
                        </a>
                        <div class="py-8 px-2">
                            <a href="#">
                                <h5 class="mb-2 group-hover:underline duration-300 line-clamp-1 text-xl text-center font-medium tracking-tight text-gray-900 dark:text-white">
                                    Navy Blue & White Striped Area Rugs</h5>
                            </a>
                            <p class="mb-3 font-normal text-center line-clamp-2 text-gray-700 dark:text-gray-400">
                                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
                                chronological order.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide" data-splide-interval="1000">
                    <div class="w-full group  rounded-lg  ">
                        <a href="#">
                            <img class="rounded-lg   duration-300 shadow-sm w-full" src="https://helendo.jamstacktemplates.dev/images/blogs/striped-rug/374x243.jpg" alt="" />
                        </a>
                        <div class="py-8 px-2">
                            <a href="#">
                                <h5 class="mb-2 group-hover:underline duration-300 line-clamp-1 text-xl text-center font-medium tracking-tight text-gray-900 dark:text-white">
                                    Helendo White Coated Staircase Floating</h5>
                            </a>
                            <p class="mb-3 font-normal text-center line-clamp-2 text-gray-700 dark:text-gray-400">
                                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
                                chronological order.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide" data-splide-interval="1000">
                    <div class="w-full group  rounded-lg  ">
                        <a href="#">
                            <img class="rounded-lg   duration-300 shadow-sm w-full" src="https://helendo.jamstacktemplates.dev/images/blogs/modern-furniture/374x243.jpg" alt="" />
                        </a>
                        <div class="py-8 px-2">
                            <a href="#">
                                <h5 class="mb-2 group-hover:underline duration-300 line-clamp-1 text-xl text-center font-medium tracking-tight text-gray-900 dark:text-white">
                                    Helendo White Coated Staircase Floating</h5>
                            </a>
                            <p class="mb-3 font-normal text-center line-clamp-2 text-gray-700 dark:text-gray-400">
                                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
                                chronological order.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide" data-splide-interval="1000">
                    <div class="w-full group  rounded-lg  ">
                        <a href="#">
                            <img class="rounded-lg   duration-300 shadow-sm w-full" src="https://helendo.jamstacktemplates.dev/images/blogs/award-winning/374x243.jpg" alt="" />
                        </a>
                        <div class="py-8 px-2">
                            <a href="#">
                                <h5 class="mb-2 group-hover:underline duration-300 line-clamp-1 text-xl text-center font-medium tracking-tight text-gray-900 dark:text-white">
                                    Intelligent, award-winning product of the designer Thomas in 2023.</h5>
                            </a>
                            <p class="mb-3 font-normal text-center line-clamp-2 text-gray-700 dark:text-gray-400">
                                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
                                chronological order.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        new Splide('#blog', {
            type: 'loop',
            perPage: 2,
            breakpoints: {
                1100: {
                    perPage: 1,
                    gap: 20,
                },
            },
            padding: '10%',
            gap: 100,
            perMove: 1,
            arrows: true,
            pagination: true,
            focus: 'center',
            drag: 'free',
            snap: true,
        }).mount();
    })
</script>