<div class="py-16 mx-auto max-w-screen-xl">
    <h1 class=" lg:text-2xl text-xl mb-10 font-semibold text-sky-900 dark:text-gray-300  text-center">
        Best Selling</h1>
    <section class="splide" id="TopSell" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide " data-splide-interval="1000">
                    <a href="#" class="group">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/art-deco-home/300x300.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75 hover:scale-110  duration-200">
                        </div>
                        <div class="text-center">
                            <h3 class="mt-4 text-sm text-gray-700 dark:text-gray-300">Earthen Bottle</h3>
                            <p class="mt-1 text-lg font-medium text-gray-900 dark:text-gray-100">$48</p>
                        </div>
                    </a>
                </li>
                <li class="splide__slide " data-splide-interval="1000">
                    <a href="#" class="group">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/dark-green-jug/300x300.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75 hover:scale-110  duration-200">
                        </div>
                        <div class="text-center">
                            <h3 class="mt-4 text-sm text-gray-700 dark:text-gray-300">Earthen Bottle</h3>
                            <p class="mt-1 text-lg font-medium text-gray-900 dark:text-gray-100">$48</p>
                        </div>
                    </a>
                </li>
                <li class="splide__slide " data-splide-interval="1000">
                    <a href="#" class="group">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/drinking-glasses/300x300.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75 hover:scale-110  duration-200">
                        </div>
                        <div class="text-center">
                            <h3 class="mt-4 text-sm text-gray-700 dark:text-gray-300">Earthen Bottle</h3>
                            <p class="mt-1 text-lg font-medium text-gray-900 dark:text-gray-100">$48</p>
                        </div>
                    </a>
                </li>
                <li class="splide__slide " data-splide-interval="1000">
                    <a href="#" class="group">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/helen-chair/300x300.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75 hover:scale-110  duration-200">
                        </div>
                        <div class="text-center">
                            <h3 class="mt-4 text-sm text-gray-700 dark:text-gray-300">Earthen Bottle</h3>
                            <p class="mt-1 text-lg font-medium text-gray-900 dark:text-gray-100">$48</p>
                        </div>
                    </a>
                </li>
                <li class="splide__slide " data-splide-interval="1000">
                    <a href="#" class="group">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/living-room-bedroom-lights/300x300.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75 hover:scale-110  duration-200">
                        </div>
                        <div class="text-center">
                            <h3 class="mt-4 text-sm text-gray-700 dark:text-gray-300">Earthen Bottle</h3>
                            <p class="mt-1 text-lg font-medium text-gray-900 dark:text-gray-100">$48</p>
                        </div>
                    </a>
                </li>
                <li class="splide__slide " data-splide-interval="1000">
                    <a href="#" class="group">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/high-quality-glass-bottle/300x300.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75 hover:scale-110  duration-200">
                        </div>
                        <div class="text-center">
                            <h3 class="mt-4 text-sm text-gray-700 dark:text-gray-300">Earthen Bottle</h3>
                            <p class="mt-1 text-lg font-medium text-gray-900 dark:text-gray-100">$48</p>
                        </div>
                    </a>
                </li>
                <li class="splide__slide " data-splide-interval="1000">
                    <a href="#" class="group">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/simple-chair/300x300.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75 hover:scale-110  duration-200">
                        </div>
                        <div class="text-center">
                            <h3 class="mt-4 text-sm text-gray-700 dark:text-gray-300">Earthen Bottle</h3>
                            <p class="mt-1 text-lg font-medium text-gray-900 dark:text-gray-100">$48</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        new Splide('#TopSell', {
            type: 'loop',
            perPage: 5,
            breakpoints: {
                1100: {
                    perPage: 2,
                    gap: 20,
                },
            },
            gap: 20,
            perMove: 1,
            arrows: true,
            pagination: false,
            focus: 'center',
            drag: 'free',
            snap: true,
        }).mount();
    })
</script>