<section class="bg-white dark:bg-gray-900">
    <div class="lg:gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 flex flex-wrap sm:py-16 lg:px-6">

        <div class="mt-4 md:mt-0  mx-auto lg:order-1 order-2 ">
            <span class="text-xs leading-5 font-medium uppercase block mb-[5px] text-[#999999]">Featured
                Product</span>
            <h2 class="relative after:bg-primary after:absolute after:left-0 after:bottom-0 after:h-[4px] after:w-[70px] pb-[10px] mb-[20px]">
                <a class="transition-all hover:text-sky-700 lg:text-6xl text-4xl  font-semibold text-sky-900 dark:text-gray-300 dark:hover:text-sky-700" href="/products/table-wood-pine">Table Wood Pine</a>
            </h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Excepteur sint occaecat cupidatat
                non proident, sunt in <br> anim id est .</p>
            <div class="mt-[20px] ">
                <a class="inline-flex items-center border-2 border-sky-900 dark:border-0 text-secondary transition-all hover:bg-sky-900 rounded-lg hover:text-white leading-[38px] text-[15px] h-[38px] px-[35px] dark:bg-gray-300 dark:hover:bg-sky-700" href="/products/table-wood-pine">Only $50
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="ml-[5px]" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144m124-144H100">
                        </path>
                    </svg>
                </a>
            </div>
        </div>

        <img class="mx-auto w-96 lg:order-2 order-1 hover:scale-105 duration-200" src="https://helendo.jamstacktemplates.dev/images/featured-product/table-wood-pine.png" alt="dashboard image">

    </div>
</section>